{% extends "base_generic.html" %}

{% block content %}
<h1>Домашняя страница личной библиотеки</h1>

<p>Добро пожаловать в <em>Privlib</em> - сайт твоей личной библиотеки</p>
<p>У тебя большая библиотека книг и ты хочешь её упорядочить и надоели Excel списочки?</p>
<p>Здесь ты можешь занести свою билиотеку книг и работать с ней откуда угодно!</p>


<h2>Статистика</h2>

<p>В библиотеке есть следующее количество:</p>
<ul>
<li><strong>Книг:</strong> {{ num_books }}</li>
<li><strong>Копий:</strong> {{ num_instances }}</li>
<li><strong>Авторов:</strong> {{ num_authors }}</li>
</ul>


<p>Ты посетил эту страницу {{ num_visits }} раз{{ num_visits|pluralize }}.</p>

{% endblock %}
